---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Seo from '@/components/Seo.astro'
import siteData from '@/config/siteData.json'
import '@/styles/global.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteData.title}</title>

		<!-- Favicons -->
		<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicons/favicon.svg" />
		<link rel="shortcut icon" href="/favicons/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="ThreetysAlbum" />
		<link rel="manifest" href="/favicons/site.webmanifest" />

		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- SEO -->
		<Seo
			title={siteData.title}
			description={siteData.description}
			image={siteData.siteImage}
			noindex="false"
		/>
	</head>
	<body id="body" class="min-h-screen bg-pink-100 p-4">
		<Header
			title="Galería"
			class="hand-drawn-shadow mb-4 rounded-2xl border-4 border-black bg-white p-2"
		/>
		<main class="hand-drawn-shadow mb-4 flex-1 rounded-2xl border-4 border-black bg-white">
			<slot />
		</main>
		<Footer class="hand-drawn-shadow bg-primary-700 rounded-2xl border-4 border-black p-2" />
	</body>
</html>
